<div class="card mb-3 bg-danger" style="max-width: 540px; left:30%; top:30%; width:40%; height: 40%; margin-top:10%;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://icons-for-free.com/iconfiles/png/512/emoji+emoticons+sad+scarred+thick+lines+icon-1320166823645046900.png" class="card-img" alt="Login">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">CSV Importer</h5>
                <p class="card-text">{{message}}</p>
            </div>
        </div>
    </div>
</div>