<br/><br/>
<h2 align="center">Choose the filtering values</h2>
<form action="/post/filters" method="POST" >
<div class="filters">{{{html}}}</div>
    <div class="text-center">
    <button type="Submit" class="btn btn-light">Filter</button>
    </div>
</form>